/* ----- Defaults ----- */
:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----- Main container ----- */
.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 3rem;
}


/* ----- Header ----- */
header {
    background-color: #2B2D42;
    padding: 1rem;
    margin-bottom: 3.5rem;
}

#logo {
    color: #fff;
    font-size: 3rem;
}


/* ----- Main ----- */
main {
    min-height: 90vh;
}

section {
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    padding: 2rem;
    margin-bottom: 2rem;
}

#bank, #work, #laptops {  
    display: flex;  
    flex-flow: column nowrap;
    width: 23%;
    min-width: 250px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.buttons-row {
    display: flex;
    flex-flow: row nowrap;
    margin-top: auto;
    justify-content: space-between;
}

#bank h3, #work h3, #laptops label {
    font-size: 1.2rem;
    font-weight: 600;
}


/* ----- Laptops ----- */
#laptops {
    min-width: 30%;
}

fieldset {
    border: 0;
}

#laptops-select {
    margin: 1rem 0;
    border: 1px solid #2B2D42;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

#laptops p, #laptops-specs {
    color: #2a2a2a;
}

#laptops p {
    font-weight: 500;
}

#laptops-specs {
    font-style: italic;
    list-style-type: none;
    font-size: 0.8rem;
}


/* ----- Showcase ----- */
#showcase {
    display: flex;  
    flex-flow: row nowrap;
}

#showcase-image, #showcase-description, #showcase-buy {
    display: flex;
    flex-flow: column;
}

#showcase-description {
    flex: 2;
}

#showcase-description, #showcase-buy {
    text-align: center;
    line-height: 1.2;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

#showcase-description h1 {
    margin-bottom: 1rem;
    font-size: 2.8rem;
}

#showcase-description p {
    font-size: 1.5rem;
}

#showcase-buy, #showcase-image {
    flex: 1;
}

#showcase img {
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
}

#showcase-buy span{
    text-align: center;
    font-weight: 550;
    font-size: 2.5rem;
}


/* ----- Buttons ----- */
.btn {
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    cursor: pointer;
    color: black;
    margin: 0.3rem;
}

#loan {
    background-color: #41E2BA;
    flex: 1;
}

#loan:hover {
    background: #2B2D42;
    color: #41E2BA;
}

#transfer {
    background-color: #F7E733;
    min-width: 45%;
}

#transfer:hover {
    background: #2B2D42;
    color: #F7E733;
}

#earn {
    background-color: #E86A92;
    min-width: 45%;
}

#earn:hover {
    background: #2B2D42;
    color: #E86A92;
}

#repay-loan {
    background-color: #e86a6a;
    flex: 1;
}

#repay-loan:hover {
    background: #2B2D42;
    color: #e86a6a;
}

#showcase-buy-laptop {
    font-size: 1.5rem;
    font-weight: 550;
    background-color: #BFBFEE;
    margin: auto 0;
}

#showcase-buy-laptop:hover {
    background: #2B2D42;
    color: #BFBFEE;
}


/* ----- Footer ----- */
footer {
    width: 100%;
    background-color: #2B2D42;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem;
}

/* ----- Utils ----- */
.hidden {
    display: none;
}


/* ----- Media queries ----- */
@media only screen and (max-width: 810px) {
    #bank, #work {
        width: 45%;
    }

    #laptops {
        width: 100%;
    }

    #showcase {
        flex-direction: column;
    }

    #showcase-description {
        margin: 2rem 0;
    }

    #showcase-buy-laptop {
        margin: 2rem 0;
    }
}

@media only screen and (max-width: 600px) {
    .flex-container {
        justify-content: center;
    }

    #bank, #work, #laptops {
        width: 100%;
    }
}